.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  background-color: rgb(242, 250, 250);
}

.graph {
  margin-top: 20px;
}

.forms-container {
  display: flex;
  justify-content: flex-start; 
}

.workout-form {
  margin-right: 30px; 
}

.form-element {
  margin: 5px;
}

.form-label  {
  margin-right: 3px;
}

.delete-button {
  margin-top: 5px;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  background-color: #4595a0;
  color: white; 
  border-radius: 3px;
}

body {
  font-family: 'Roboto', sans-serif;
}
